In [15]:
import pandas as pd

In [16]:
file = "../passagers_par_pays_traite.csv"

df = pd.read_csv(file, delimiter=",")

print(df.head())

print(len(df))

  COUNTRY_ID COUNTRY_NAME     TIME  ARRIVAL_VALUE  DEPARTURE_VALUE
0         AT      Austria  2002-01         483326           496291
1         AT      Austria  2002-02         504745           505222
2         AT      Austria  2002-03         612566           618710
3         AT      Austria  2002-04         589164           603010
4         AT      Austria  2002-05         676867           697082
8693

In [17]:
file2 = "../vols_par_pays_traite.csv"

df_vols = pd.read_csv(file2, delimiter=",")

df_selected = df_vols[['COUNTRY_ID', 'COUNTRY_NAME']]

print(df_selected.head())

  COUNTRY_ID COUNTRY_NAME
0         AT      Austria
1         AT      Austria
2         AT      Austria
3         AT      Austria
4         AT      Austria

In [31]:
# Convertir le DataFrame en dictionnaire
dict_selected = df_selected.to_dict(orient='records')

# Afficher le dictionnaire
dict_selected = {
    item['COUNTRY_ID']: item['COUNTRY_NAME'] for item in dict_selected
}

In [32]:
df["COUNTRY_NAME"] = df['COUNTRY_ID'].map(dict_selected)
print(df.head(20))

   COUNTRY_ID COUNTRY_NAME     TIME  ARRIVAL_VALUE  DEPARTURE_VALUE
0          AT      Austria  2002-01         483326           496291
1          AT      Austria  2002-02         504745           505222
2          AT      Austria  2002-03         612566           618710
3          AT      Austria  2002-04         589164           603010
4          AT      Austria  2002-05         676867           697082
5          AT      Austria  2002-06         764952           792080
6          AT      Austria  2002-07         791474           826048
7          AT      Austria  2002-08         831801           812282
8          AT      Austria  2002-09         803823           772269
9          AT      Austria  2002-10         685808           690397
10         AT      Austria  2002-11         564197           544298
11         AT      Austria  2002-12         555252           543137
12         AT      Austria  2003-01         555611           570371
13         AT      Austria  2003-02         558200           550985
14         AT      Austria  2003-03         611479           622063
15         AT      Austria  2003-04         586752           599515
16         AT      Austria  2003-05         662479           670688
17         AT      Austria  2003-06         775505           814700
18         AT      Austria  2003-07         831261           867945
19         AT      Austria  2003-08         905437           856904

In [33]:
df.to_csv("../passagers_par_pays_traite2.csv", index=False)